#holdConections
	.left
		p Copyright© 2014 Web Developer Greco Dávila, All Rights Reserved

	.right
		a(href="mailto:greco@hoe.mx")
			.btn.contact
		a(href="https://www.facebook.com/greco.dav14", target="_blank")
			.btn.fb
		a(href="https://www.behance.net/greco_14", target="_blank")
			.btn.behance
		a(href="http://www.linkedin.com/profile/view?id=71263397", target="_blank")
			.btn.link
		a(href="http://projeqt.com/greco", target="_blank")
			.btn.projeqt

