#contact.inWrapp
	.grid
	.aboutMe
		p  Graphic Designer with passion for code, I love trying to learn new stuffs to maintain myself busy. 
		p I love to collect disciplines, currently learning more about other programming languages and framewokrs.
		p If you want to contact me, please email me at 
		p greco@hoe.mx 
		p(class="downMe") <a href="assets/img/Resume_carlos.pdf" download> DOWNLOAD ME</a>


	include _conection.jade