head
	title="Grecos Portafolio"

	meta(charset="UTF-8")

	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=device-width, initial-scale=0.5")
	meta(name="description" content="Graphic Designer with passion for code. One does not simply stop learning! keep it calm & enjoy programming. many disciplines under my sleeve but always trying to give the best of all.")
	meta(name="keywords" content=" Keywords:Graphic Design, Graphic Designer, Web Developer, UX, UI, jquery, css3, php, ruby, web sites, web Design, mockups, Wireframe, programming, Code, Codding, portafolio, CV")

	meta(property="og:title" content="Grecos Portafolio")
	meta(property="og:image" content="http://hoe.mx/greco/assets/img/share/share-1200x600.jpg")
	meta(property="og:image" content="http://hoe.mx/greco/assets/img/share/share-500x500.jpg")
	meta(property="og:image" content="http://hoe.mx/greco/assets/img/share/share-250x250.jpg")

	meta(property="og:description" content="Graphic Designer with passion for code. One does not simply stop learning! keep it calm & enjoy programming. many disciplines under my sleeve but always trying to give the best of all.")
	meta(property="og:url" content="http://hoe.mx/greco")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="Grecos Portafolio")
	meta(property="og:locale" content="es_LA")
	
	link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")

	link(rel='stylesheet', href='css/main.css')
	link(rel='stylesheet', href='css/animations.css')

	

	script(src="js/vendor/modernizr-2.6.2.min.js" )
	