#loader
	.lightHold
		.light#green
			img(src="assets/img/green.png")
		.light#blue
			img(src="assets/img/blue.png")
		.light#pink
			img(src="assets/img/pink.png")
	.gift

	.text
		p LOAGING...
		p <span>PARTY IN THE MEANTIME</span>