.inWrapp
	#main
		.safeArea
			.logoGreco
				p(class="grecoNm") GRECO DÁVILA
				p(class="frontNm") <span>FRONT-END</span>
			.hold2logo
				#helloMe
					p(id="tx1")
					p(id="tx2")
					p(id="tx3")
	
	.holdBoton
		.btnScroll
			.holdcirc
				.inCircle
			.arrowDown
	include _conection.jade


				