html
	include views/_head.jade

	body
		//- include views/_nav.jade
		.grid
		#wrapper
			include views/_sect1.jade

			include views/_portafolio.jade

			include views/_fullConctac.jade

		include views/_loader.jade

		include views/_scripts.jade
